<!DOCTYPE HTML>
<html>

<h1> Create Pod</h1>
<form method="GET" target="_blank" action="/api">
<select name="image">
<option value="vulfocus/spring-core-rce-2022-03-29">CVE-2022-22965 (Spring4Shell)</option>
<option value="vulhub/spring-cloud-function:3.2.2">CVE-2022-22963</option>
</select>
<input type="hidden" name="event" value="start">
<input type="submit" value="Submit"></p>
</form>

</a></a></a></a></a></a></a></a></a></a></a></a>

<h1> Delete Pod</h1>
<form method="GET" target="_blank" action="/api">
    <input name="pod_name">
    <input type="hidden" name="event" value="end">
    <input type="submit" value="Submit"></p>
    </form>
</html>



